In [1]:
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import imageio
import os
import plotly.io as pio
from plotly.subplots import make_subplots
import numpy as np
import plotly.graph_objects as go
import geopandas as gpd

In [2]:
df = pd.read_csv('output.csv')
df

,Year,Country of Asylum,Area,Country of Origin,Refugee Status Type,Category,Recognized Cases,Rejected Cases,Pending Cases,Total Applications,...,Female 60+,F: Unknown,Male 0-4,Male 5-17,Male 18-59,Male 60+,M: Unknown,Total Females,Total Males,Total Population
0,2000,Zimbabwe,0,Afghanistan,G / FI,Refugees (incl. refugee-like situations),5,0,0,5,...,0,0,0,0,0,0,0,0,0,0
1,2000,South Africa,0,Afghanistan,G / FI,Asylum-seekers,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
2,2000,South Africa,0,Afghanistan,G / FI,Refugees (incl. refugee-like situations),0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
3,2000,Uzbekistan,0,Afghanistan,U / FI,Asylum-seekers,747,112,1235,2094,...,0,0,0,0,0,0,0,0,0,0
4,2000,Uzbekistan,0,Afghanistan,U / FI,Refugees (incl. refugee-like situations),747,112,1235,2094,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6961542,2016,Zambia,Zambia : Dispersed in the country / territory,Zimbabwe,G / FI,Others of concern,0,0,0,0,...,400,0,602,2332,2786,512,0,6172,6232,12404
6961543,2016,Zambia,Zambia : Dispersed in the country / territory,Zimbabwe,G / FI,Returned IDPs,0,0,0,0,...,400,0,602,2332,2786,512,0,6172,6232,12404
6961544,2016,Zambia,Zambia : Dispersed in the country / territory,Zimbabwe,G / FI,Refugees (incl. refugee-like situations),0,0,0,0,...,400,0,602,2332,2786,512,0,6172,6232,12404
6961545,2016,Zambia,Zambia : Dispersed in the country / territory,Zimbabwe,G / FI,Returnees,0,0,0,0,...,400,0,602,2332,2786,512,0,6172,6232,12404
6961546,2016,Zambia,Zambia : Dispersed in the country / territory,Zimbabwe,G / FI,Stateless,0,0,0,0,...,400,0,602,2332,2786,512,0,6172,6232,12404

In [3]:
df2 = df.drop(['Refugee Status Type', 'Area' , 'Category' , 'Recognized Cases' , 'Rejected Cases' , 'Pending Cases' , 'Total Applications', 
                'Female 0-4' , 'Female 5-17' , 'Female 18-59', 'Female 60+', 'F: Unknown' , 
                'Male 0-4' , 'Male 5-17' , 'Male 18-59' , 'Male 60+' , 'M: Unknown', 'Total Females' , 'Total Males'], axis=1)

In [4]:
df2

         Year Country of Asylum Country of Origin  Total Population
0        2000          Zimbabwe       Afghanistan                 0
1        2000      South Africa       Afghanistan                 0
2        2000      South Africa       Afghanistan                 0
3        2000        Uzbekistan       Afghanistan                 0
4        2000        Uzbekistan       Afghanistan                 0
...       ...               ...               ...               ...
6961542  2016            Zambia          Zimbabwe             12404
6961543  2016            Zambia          Zimbabwe             12404
6961544  2016            Zambia          Zimbabwe             12404
6961545  2016            Zambia          Zimbabwe             12404
6961546  2016            Zambia          Zimbabwe             12404

[6961547 rows x 4 columns]

In [5]:
df2_2 = df2[df2['Year']== 2015]

In [6]:
df2_2.drop_duplicates(inplace=True)

/var/folders/z3/h787plg151ngb1cq61f4rbf40000gn/T/ipykernel_55602/2008845832.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_2.drop_duplicates(inplace=True)

In [7]:
df2_2

         Year         Country of Asylum Country of Origin  Total Population
3900846  2015  United States of America       Afghanistan                 0
3900860  2015              South Africa       Afghanistan                 0
3900874  2015                  Pakistan       Afghanistan              4228
3900881  2015                  Pakistan       Afghanistan               161
3900888  2015                  Pakistan       Afghanistan              3420
...       ...                       ...               ...               ...
5881072  2015                   Namibia          Zimbabwe               280
5881079  2015               Netherlands          Zimbabwe                 0
5881135  2015                    Norway          Zimbabwe                 0
5881156  2015                    Angola          Zimbabwe                 0
5881163  2015                 Argentina          Zimbabwe              4284

[51090 rows x 4 columns]

In [8]:
df2_2.dtypes

Year                  int64
Country of Asylum    object
Country of Origin    object
Total Population      int64
dtype: object